body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
  }
  .timeline:before {
    content: '';
    position: absolute;
    width: 6px;
    background-color: orange;
    top: 40px; /* Start the line below the first stage's top */
    bottom: 0;
    left: 50%;
    margin-left: -3px; /* Center the line */
  }
    
  .timeline-item {
    padding: 20px 40px;
    position: relative;
    width: 50%;
  }
  
  .timeline-item:nth-child(odd) {
    left: 0;
  }
  
  .timeline-item:nth-child(even) {
    left: 50%;
  }
  
  
  
  .timeline-content {
    padding-top: 20px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 20px;
    background-color: #f9f9f9;
    position: relative;
    border-radius: 6px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 5%;
    margin-top: 5%;
  }
  
  .timeline-content:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  }
  
  .timeline-content h2 {
    margin: 0;
    color: #FF6347;
    flex-wrap: nowrap;
  }
  
  .timeline-content p {
    margin: 10px 0;
  }
  
  .timeline-content strong {
    color: #333;
  }
  .timeline-arrow {
    position: absolute;
    top: 100%; /* Below the content box */
    left: 50%;
    margin-left: -12px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #a24646; /* Color of the arrow */
    z-index: 2;
  }
  
  /* Hide the arrow on the last item */
  .timeline-item:last-child .timeline-arrow {
    display: none;
  }

  @media screen and (max-width: 650px) {
    .timeline-item {
      width: 100%;
      float: 'center';
      left: 0 !important;
    }
    .timeline-item:nth-child(even) {
      left: 0 !important;
    }
    .timeline:before {
      left: 50%;
    }
    .timeline-content {
      width: calc(100%);
    }
    .timeline-arrow {
      float: 'center';
    }
  }
  